body {
  text-align: center;
  /* background-color: red; */
  margin: 30px;
}

.App {
}

.chosen-image {
  width: 80vh;
  height: 80vh;
  object-fit: cover;
  object-position: 100% 100%;

  /* clip: rect(0vh, 0vh, 20vh, 20vh); */
}

.block-div {
  /* width: 18.8vh;
  height: 18.8vh; */
  /* overflow: hidden; */
  background-size: 80vh 80vh;
  display: inline-block;
  /* background-position: bottom; */
  position: absolute;
  /* border: solid; */
}
.game-area {
  margin: 10px auto;
  width: 80vh;
  height: 80vh;
  text-align: center;
  position: relative;
}

.mode-div {
  padding: 10px;
}

button {
  margin: 5px;
}
